astroid==2.4.2
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
idna==2.10
isodate==0.6.0
isort==5.4.2
lazy-object-proxy==1.4.3
mccabe==0.6.1
pylint==2.6.0
pyparsing==2.4.7
python-igraph==0.8.2
rdfextras==0.4
rdflib==5.0.0
requests==2.24.0
six==1.15.0
texttable==1.6.2
toml==0.10.1
urllib3==1.25.10
wrapt==1.12.1
